<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eve.eve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".fb"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:label="Eve Fucapi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DetailActivity"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <!-- android:parentActivityName=".MainActivity" /> -->
        <activity
            android:name=".view.SignupActivity"
            android:label="Cadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ShowData"
            android:screenOrientation="portrait" />

        <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="com.facebook.app.FacebookContentProvider364826527250828" -->
        <!-- android:exported="true" /> -->


        <!-- <activity android:name="com.example.eve.eve.FullScreenImageActivity" /> -->
        <activity android:name=".view.SobreActivity"
            android:label="Sobre"
            />
    </application>

</manifest>